 /* All pages media querry are written here */  
body{
    overflow-x: hidden !important;
}
@media only screen and (min-width: 250px) and (max-width: 300px){
    .navbar_container{
        display: none !important;
    }
    .small-head-data{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin: 1.4rem 0;

    }
    .navbar_container{
        display: none;
    }
    .navbar_small_data{
        width: 100% !important;
    }
    .navbar_small_last_div{
        margin-right: 1.6rem !important;
    }
    .navbar_heading_Data{
        font-size: 24px !important;
        margin: 0px !important;
    }
    .navbar_small_last_div{
     margin-right: 0.5rem !important;
    }
    .small-data{
        width: 190px !important;
    }
 .user_icon{
 margin-top: 1.3rem !important;
 }
    
}
@media only screen and (min-width: 350px) and (max-width: 380px){
    .user_icon{
        margin-top: 1.8rem !important;
    }
}
@media only screen and (min-width: 120px) and (max-width: 300px){
    .main-small-container-data{
     width: 180px !important;
    }
    .total-text-value{
        margin: 0.9rem 1.5rem !important;
    }
    .total-text-data{
        margin: 0.9rem 1.5rem !important;
    }

}
 @media only screen and (min-width: 120px) and (max-width: 480px)  {
    .main_comp{
        width: 90% !important;
    }
    .hidden-cont{
        display: block ;
        position: fixed;
        top: 0;
        left: 0 !important;
        z-index: 99999;
    }
    .navbar_middle_data{
        display: none;
    }
    .navbar_heading_Data{
        font-size: 1.4rem;
    }
    .header_icon{
        display: none;
    }
    .container{
        display: none;
    }
    .bar-svg-icon{
        display: block !important;
        margin-top: 1.4rem;
        margin-left: 0.3rem;
    }
    .small-main-container{
        display: block !important;
        margin-left: 0.4rem !important;
    }
    .small-filter-table{
        width: 96% !important;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .main_component{
        display: none;
    }
    .main_component{
        width: 100% !important;
        margin-left: -0.7rem;
    }
    .small-search-data-main-div{
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    .search-main-component{
        margin-right: 1rem;
    }
    .search-input{
        width: 80% !important;
    }
    .navbar_container{
     margin-left: -0.01rem;;
    }
    .verticle{
        height: 0px !important;
    }

    .small-main-container{
         margin-left: -0.7rem !important; 
    }
    .verticle{
        height: 0px !important;
    }

    .navbar_container{
        margin-left: -0.1rem !important;
    }
    .small-tab{
        margin-top: 3rem !important;
        display: block !important;
    }
    
    .main_component{
        height: fit-content !important;
    }
    .navbar_container{
        margin-left: -0.2rem !important;
        }
        .small-tab{
            width: 98% !important;
        }
        .main-component-text{
            flex-wrap: wrap !important;
            margin: 1rem 2rem !important;
        }
        .text-packs{
            margin-top: 1.3rem !important;
            margin-left: -0.1rem !important;
        }
        .main-navbar-right-div{
            margin-left: -2rem !important
        }
        .main-div-table{
            margin: 0 -1rem !important;
        }
        .main-small-container-data{
            width: 260px  ;
        }
        .main-component-navbar{
            display: none !important;
        }
        .main-component-table-main-component{
            margin-top: 1rem !important;
        }
        .navbar_user_heading{
            margin-left: 0.6rem;
        }

        .navbar_icons{
            width: 80% !important;
           }
           .middle_navbar_last_navbar{
            width: 20% !important;
           }

           .small-head-data{
            display: none;
        }
        
 }

 @media only screen and (min-width: 500px) and (max-width: 540px)  {
    .navbar_last_div{
     margin-right: 2rem;
    }
    .small-main-container{
     margin-left: -0.4rem !important;
    }
    .main_component{
        width: 95% !important;
        overflow: hidden;
    }
    .main_comp{
        width: 87% !important;
        overflow-x: hidden;
        margin-left: 5.7rem !important;
    }
    .navbar_icons{
        width: 70% !important;
    }
    .middle_navbar_last_navbar{
        width: 30% !important;
        margin-left: 0rem !important;
    }
    .last_one{
        margin-left: -2rem !important;
    }
    .small-head-data{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin: 1.4rem 0;

    }
    .navbar_container{
        display: none;
    }
    .navbar_small_data{
        width: 100% !important;
    }
    .navbar_small_last_div{
        margin-right: 1.6rem !important;
    }
    
 }

 /* -------------------- Media query (min-width: 481px) and (max-width: 768px) ---------------  */

@media only screen and (min-width: 481px) and (max-width: 768px)  {
.navbar_middle_data{
    display: none;
}
.bar-svg-icon{
    display: none;
}
.small-main-container{
    display: block !important;
}
.small-filter-table{
    width: 96% !important;
}
.small-search-data-main-div{
    overflow-x: hidden !important;
    overflow-y: scroll;
}
.main_component{
    display: none;
}
.main_component{
    margin-left: 0.6rem !important;
}
.search-input{
    width: 85% !important;
}
.search-main-component{
    margin-right: 1rem;
}
.navbar_container{
    margin-left: -0.1rem !important;
    }
    .small-main-container{
        margin-left: -0.3rem !important;
    }
    .verticle{
        height: 0px !important;
    }
 .small-scr-navbar{
    display: block !important;
 }
   .navbar_icons{
    width: 80% !important;
   }
   .middle_navbar_last_navbar{
    width: 20% !important;
   }
   .main_comp{
    margin-left: 5rem !important;
   }
    .small-tab{
        margin-left: -0.7rem !important;
    
        margin-top: 3rem !important;
        display: block !important;
    }
    
    .main_component{
        height: fit-content !important;
        overflow-x: hidden !important;
    }
    .navbar_container{
        margin-left: -0.2rem !important;
        }
        .small-tab{
            width: 98% !important;
        }
        .main-component-text{
            flex-wrap: wrap !important;
            margin: 1rem 2rem !important;
        }
        .text-packs{
            margin-top: 1.3rem !important;
            margin-left: -0.1rem !important;
        }
        .main-navbar-right-div{
            margin-left: -2rem !important
        }
        .navbar_last_div{
            margin-left: 4rem !important;
        }
        .small-head-data{
            display: none;
        }
        .search-func-description{
         font-size: 14px !important;
        }
        .des-name{
            font-size: 20px !important;
        }
}

/* -------------------- Media query (min-width: 768px)  and (max-width: 992px) ---------------  */

@media only screen and (min-width: 769px)  and (max-width: 992px)  {
.navbar_heading_Data{
    font-size: 1.5rem;
}
.verticle{
    height: 0px !important;
}
.bar-svg-icon{
    display: none;
}
.small-main-container{
    display: block !important;
}
.small-filter-table{
    width: 96% !important;
}
.small-filter-table{
    height: 45vh !important;
}
.main_component{
    display: none;
}
.main_component{
   
    margin-left: 10px;
}
.search-input{
    width: 92% !important;
}
.navbar_container{
    margin-left: -0.1rem !important;
}
.small-tab{
    margin-top: 12rem !important;
    display: block !important;
}

.main_component{
    height: fit-content !important;
}
.navbar_container{
    margin-left: 0.3rem !important;
    }
    .small-tab{
        width: 98% !important;

    }
    .main-component-text{
        flex-wrap: wrap !important;
    }
    .text-packs{
        margin-top: 1.3rem !important;
        margin-left: -0.1rem !important;
    }
    .small-search-data-main-div{
        overflow-x: hidden !important;
        overflow-y: scroll;
    }
    .main_comp {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 4.3rem;
        overflow: none;
        overflow-x: hidden;
    }
    .navbar_icons{
        width: 35% !important;
    }
    .middle_navbar_last_navbar{
        width: 65% !important;
    }
    .navbar_last_div{
        margin-right: 0.6rem !important;
    }
    .small-head-data{
        display: none;
    }
 
}

/* -------------------- Media query (min-width: 993px) and (max-width: 1200px) ---------------  */


@media only screen and (min-width: 993px) and (max-width: 1200px)  {
    .bar-svg-icon{
        display: none;
    }
    .search-data-main-div{
        overflow-x: hidden !important;
        overflow-y: none !important;
    }
    .filter-table{
        width: 30% !important;
    }
    .des-name{
        font-size: 0.8rem !important;
    }
    .review-btn{
        width: 0px !important;
    }
    .search-data-main-div{
        height: 88vh !important;
      }

      .main-component-text{
        flex-wrap: wrap;
      }
      .text-packs{
      margin-top: 1rem;
      margin-left: -0.2rem;
      }  
      .main_component{
        height: 140vh !important;
        margin: 0 5.35rem !important;
      }
      .navbar_container{
        /* margin-left: -0.1rem; */
        margin: 1.4rem 5.5rem !important;
      }
      .main_component{
        overflow-x:hidden !important ;
      }
      .small-head-data{
        display: none;
    }
}

/* -------------------- Media query (min-width: 1201px) ---------------  */

@media only screen and  (min-width: 1201px) and (max-width:1300px)  {
    .navbar_container{
        margin: 1.4rem 5.8rem !important;
    }
    .main_comp{
        overflow-x: none !important;
    }
    .search-data-main-div{
        overflow-x: none !important;
        overflow-y: scroll !important;
    }
    .filter-table{
        width: 30% !important;
    }
    .small-tab{
        width: 70% !important;
    }
    .des-name{
        font-size: 0.8rem !important;
    }
    .review-btn{
        width: 0px !important;
    }
    .search-data-main-div{
        height: 60vh !important;
      }

      .main-component-text{
        flex-wrap: wrap;
      }
      .text-packs{
      margin-top: 1rem;
      margin-left: -0.2rem;
      }
    .main_component{
        margin: 0 5.8rem !important;
        overflow-x: none !important;
    }

    .bar-svg-icon{
        display: none !important;
    }
    body{
        overflow-x: hidden !important;
    }
    .navbar_last_icon{
        margin-right: 2rem !important;
    }
    .navbar_last_icon {
     margin-right: 0rem !important;
    }
    .small-head-data{
        display: none;
    }
}

@media only screen and  (min-width: 1301px)  {
    .bar-svg-icon{
        display: none;
    }
    .main_component{
        height: 85vh;
    }
    .small-head-data{
        display: none;
    }
    .small-head-data{
        display: none;
    }
   
}